---
title: Indikatoren für EntscheiderInnen
permalink: /decision_maker/
layout: page
---


<br>





{% for goal in page.goals %}
  {% if goal.number == '2' %}
    <h2>{{ goal.number }} {{ goal.name }}</h2>
    {% for indicator in page.indicators %}
      {% if indicator.number == '2.2.1' or indicator.number == '2.2.4' %}
        <table width="100%">
          <col style="width:90%">
          <col style="width:10%">
          <tr>
            <td><a href="{{ indicator.url }}">{{ indicator.number }} {{ indicator.name }}</a></td>
          </tr>
          <tr>
            <td>
              {%- include assets/js/autotrack-element.js -%}
              {%- include assets/js/plugins/jquery.sdgMap.js -%}
              {%- include assets/js/chartjs/rescaler.js -%}
              {%- include assets/js/chartjs/noDataMessage.js -%}
              {%- include assets/js/chartjs/accessibleCharts.js -%}
              {%- include assets/js/event.js -%}
              {%- include assets/js/accessibility.js -%}
              {%- include assets/js/chartColors.js -%}
              {%- include assets/js/indicatorModel.js -%}
              {%- include assets/js/mapView.js -%}
              {%- include assets/js/indicatorView.js -%}
              {%- include assets/js/indicatorController.js -%}
              {%- include assets/js/indicatorInit.js -%}
              {%- include assets/js/tabs.js -%}
              {%- include assets/js/accessibleTabs.js -%}
              {%- include assets/js/search.js -%}
              {%- include assets/js/cookieConsent.js -%}
              {%- include assets/js/lib/classList.js -%}
              {%- include assets/js/lib/modernizr-custom.js -%}
              {%- include assets/js/plugins/leaflet.selectionLegend.js -%}
              {%- include assets/js/plugins/leaflet.yearSlider.js -%}
              {%- include assets/js/plugins/leaflet.fullscreenAccessible.js -%}
              {%- include assets/js/plugins/leaflet.searchAccessible.js -%}
              {%- include assets/js/plugins/leaflet.disaggregationControls.js -%}
              {%- include assets/js/backToTop.js -%}

{% include javascript-variables.html %}
{% include components/indicator/fields-template.html %}
{% include components/indicator/units-template.html %}
{% include components/indicator/series-template.html %}
{% include components/indicator/data-main.html %}
{% include components/indicator/data-tabs.html %}
{% include components/indicator/data-panes.html %}
{% include components/indicator/data-sidebar.html %}
{% include components/indicator/headline.html %}
{% include components/indicator/table.html %}
{% include multilingual-js.html key="indicator" %}
{% include multilingual-js.html key="data" %}


<div id="main-content" class="container goal-{{ page.goal.number }}" role="main">
  {% include components/indicator/data-notice.html %}
  {% include components/indicator/indicator-available.html %}
  {% include components/indicator/indicator-progress.html %}
  {% include components/indicator/indicator-content.html %}
  {% include components/indicator/indicator-main.html %}
  
</div>


              </div>              
            </td>
          </tr>
        </table>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}


