---
title: Indikatorenübersicht
permalink: /indicator_list/
layout: page
---

<br>
<style>
  table {
    width: 100%;
    table-layout: fixed;
  }
  
  table td {
    word-wrap: break-word;
  }
</style>

<table>
  <colgroup>
    <col style="width: 85%">
    <col style="width: 15%">
  </colgroup>
  
  {% for goal in page.goals %}
    <tr>
      <td colspan="2">
        <h2>{{ goal.number }} {{ goal.name }}</h2>
      </td>
    </tr>
    
    {% for indicator in page.indicators %}
      {% if indicator.goal_number == goal.number %}
        <tr>
          <td><a href="{{ indicator.url }}">{{ indicator.number }} {{ indicator.name }}</a></td>
          <td>
            {% if indicator.tags %}
              {% assign first_tag = indicator.tags[0] %}
              {{ first_tag | remove: "-" }}
            {% endif %}
          </td>
        </tr>
      {% endif %}
    {% endfor %}
  {% endfor %}
</table>


  