---
title: Indikatorenübersicht
permalink: /indicator_list/
layout: page
---

<br>
{% for goal in page.goals %}
  <h2>{{ goal.number }} {{ goal.name }}</h2>
  {% for indicator in page.indicators %}
    {% if indicator.goal_number == goal.number %}
  <table  width="100%">
    <col style="width:85%">
	  <col style="width:15%">
        <tr>
    <td> <a href="{{ indicator.url }}"> {{ indicator.number }} {{ indicator.name }}</a> </td>
    <td>
      {% if indicator.tags %}
        - {{ indicator.tags[0] }}
      {% endif %}
    </td>
    {% endif %}
  {% endfor %}
{% endfor %}
    </tr>
  </table>
  