<script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.3/dist/html2canvas.js" integrity="sha384-3qyhlVVDXXiWhzgKIoL/aw+uaXN5kyAFE0Jv2LGoV+nnQnum4ebt1QAtRbjnz9pL" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/file-saver@2.0.2/dist/FileSaver.min.js" integrity="sha384-KQ8aykg/lc6595wSrMplFVs4kRS66x+EdkX7EQsJ2Pe6FX7l3tMqyD1Am0c2dKBG" crossorigin="anonymous"></script>

<script>

function printDiv() 
{

  var divToPrint=document.querySelector("#btnSave").outer.HTML;

  var newWin=window.open('','Print-Window');

  newWin.document.open();

  newWin.document.write('<html><body onload="window.print()">'+divToPrint.outer.HTML+'</body></html>');

  newWin.document.close();

  setTimeout(function(){newWin.close();},10);
}
</script>


<script>
  function printElement() {
  var printContent = document.querySelector("#selectionsTable").inner.HTML;
  var printWindow = window.open('', '_blank');
  
  printWindow.document.open();
  printWindow.document.write('<html><head><title>Druckansicht</title></head><body>' + printContent + '</body></html>');
  printWindow.document.close();
  printWindow.onload = function() {
    printWindow.print();
  };
}  

</script>


  
html2canvas.min.js:20 Canvas2D: Multiple readback operations using getImageData are faster with the willReadFrequently attribute set to true. See: https://html.spec.whatwg.org/multipage/canvas.html#concept-canvas-will-read-frequently
fn.createCanvasClone @ html2canvas.min.js:20
